.controls-container {
    display: flex;
    justify-content: space-between;
    transform: translateY(70px);
    height: 45%;
    width: 84%;
    z-index: 4;

    .d-pad-container {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        width: 100px;
        filter: drop-shadow(7px 5px 5px #777);
        border: solid 2px red;
        .center {
            width: 35px;
            height: 35px;
            background-color: black;
        }
        .up-btn {
            width: 35px;
            height: 35px;
            background-color: black; 
        }
        .down-btn {
            width: 35px;
            height: 35px;
            background-color: black; 
        }
        .right-btn {
            position: absolute;
            top: 30%;
            right: -25px;
            width: 50px;
            height: 50px;
            background-color: rgb(255, 0, 0); 
        }
        .left-btn {
            position: absolute;
            top: 30%;
            left: -25px;
            width: 50px;
            height: 50px;
            background-color: rgb(255, 0, 0);
        }
    }

    .button-container {
        display: flex;
        flex-direction: column;
        .button-content{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            // border: solid 2px #ff0000;
            box-shadow: inset 0 0 4px rgb(0, 0, 0);
            border-radius: 35px;
            transform: rotate(-24deg);
        }
        .button {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: #8b0d5b;
            border: solid 3.5px black;
            box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.301),
                        inset 0 2px 3px #ffffff;
            margin: 8px;
            cursor: pointer;
        }
        .button:active {
            background: radial-gradient(#8b0d5b 60%, black);
            box-shadow: none;
        }
        .active-button {
            background: radial-gradient(#8b0d5b 60%, black);
            box-shadow: none;
        }

        .button-text {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            position: relative;
            transform: rotate(-24deg) translateX(19px); 
            div {
                font-family: frame-font;
                font-size: 20px;
                color: #2a5691;
                width: 60px;
            }
        }
    }
}