.snake-display-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99%;
    text-align: center;

    .snake-game-board {
        margin-top: 2px;
        // border: solid 2px red;
        
    }

    .start-btn {
        position: absolute;
        border-radius: 15px;
       
    }

    .game-over {
        position: absolute;
    }
    #score {
        position: absolute;
    }
}

@keyframes blink {
    to {
        opacity: 1;
    }
}